# Terraform
terraform.tfvars
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Mac
.DS_Store

# Credenciales
*.pem
*.key
credentials